body {
    background-color: #dce2df;
}

p, li:not(.nav-item)
{
    font-size:1.2em;
}

#registrado, #registroError, #registrarOtro
{
    display: none;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.labelDoble
{
    top:-15px;
}

.dropdown-menu a:hover
{
    color: #fff;
    background-color: #007bff;  
    border-radius: .25rem;
}

#guidelines
{
    background-color: rgb(61, 254, 61);
    padding: 1rem;
    border: 1px solid green;
}

#datosPersona, #datosCompany
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
    padding: 1rem;
}

#creditosPersona, #creditosCompany
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
    padding: 1rem;
}

.elementoListado
{
    width: 20%;
}
.elementoListado a:hover
{
    background-color: #007bff;
    font-weight: bold;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 200px;
  }
  #tablaListadoJuego a:hover
  {
    text-decoration: underline dotted gray;
    
  }
  #tablaListadoJuego a
  {
    color: #7bd;
  }
/*
.ui-tabs .ui-tabs-nav
{
    background-color: #dce2df;
}

.ui-tabs .ui-tabs-panel 
{
    background-color: #dce2df;
    border: 1px solid #dce2df;
}
*/
