body {
    /* background-color: #dce2df; */
    /* background-color: #003366;
    color: #B2BCC0; */
    background-color: #CBD1D4;
    color: #212930;
    font-family: 'Ubuntu', "Tahoma", "Arial", "sans-serif" !important;
}


@media screen and (max-width: 992px) {
    .mobile-margin-top {margin-top:10px;}
    }



/* .Acordeon-Color
{
    background-color: rgb(42, 46, 42);
    border-left: 4px solid rgb(49, 107, 255);
    border-right: 4px solid rgb(49, 107, 255);
    border-top: 4px solid rgb(49, 107, 255);
    border-bottom: 4px solid rgb(49, 107, 255); 
    padding: 1rem;
    color: rgb(171, 175, 179);
}

.card-header-color
{
    background-color: rgb(42, 46, 42);
    border-left: 4px solid rgb(49, 107, 255);
    border-right: 4px solid rgb(49, 107, 255);
    border-top: 4px solid rgb(49, 107, 255);

    padding: 1rem;
    
} 

.card-header-color a
{
    color: #7bd;
}
*/
table
{
    caption-side: top;
}
.navbar-nav
{
    padding: .2em;
}

.navbar-nav li:hover
{
    /*
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    */
    font-weight: bold;
}

p, li:not(.nav-item)
{
    font-size:1.2em;
}

#registrado, #registroError, #registrarOtro, #registroErrorA, #registradoA, #formEditarJuego
{
    display: none;
}

#formEditarJuego
{
    background-color: rgb(42, 46, 42);
    border-left: 2px solid rgb(49, 107, 255);
    border-right: 2px solid rgb(49, 107, 255);
    border-top: 4px solid rgb(49, 107, 255);
    border-bottom: 4px solid rgb(49, 107, 255); 
    padding: 1rem;
    color: rgb(171, 175, 179);
}

#registroError, #registroErrorA
{
    height:100px;
    background-color: rgb(252, 137, 137);
    border: 1px solid rgb(152, 7, 7);
    padding: 1rem;
}

#registrado, #registradoA
{
    height:100px;
    background-color: rgb(126, 255, 109);
    border: 1px solid rgb(211, 198, 20);
    padding: 1rem;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.borderless td, .borderless th {
    border: none;
}

a{
    text-decoration: none;
    
}

a:hover {
    text-decoration: none;
    color: #D57500;
}
a:visited {
    text-decoration: none;
}


.blackLinkColor a
{
    text-decoration: none;
    color: black
}
.blackLinkColor a:hover
{
    
    text-decoration: none;
    color: #D57500;

}

.labelDoble
{
    top:-15px;
}

.dropdown-menu a:hover
{
    color: #fff;
    background-color: #007bff;  
    border-radius: .25rem;
}

#guidelines
{
    background-color: rgb(61, 254, 61);
    padding: 1rem;
    border: 1px solid green;
}


#datosPersona, #datosCompany
{
    /* background-color: rgb(42, 46, 42);
    border-left: 4px solid rgb(49, 107, 255);
    border-right: 4px solid rgb(49, 107, 255);
    border-top: 4px solid rgb(49, 107, 255);
    border-bottom: 4px solid rgb(49, 107, 255); 
    padding: 1rem;
    color: rgb(171, 175, 179); */
}

/* #datosPersona, #datosCompany
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
    padding: 1rem;
}

#creditosPersona, #creditosCompany
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
    padding: 1rem;    
} */
#creditosPersona a, #creditosCompany a
{
    color: rgb(2, 10, 232) !important;
}

/* .elementoListado
{
    width: 30%;
} */
.elementoListado a:hover
{
    background-color: #007bff;
    /* font-weight: bold; */
    text-decoration: underline dotted gray;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 200px;
}

#revisionesListado a:hover
{
    text-decoration: underline dotted gray;
    /* font-size: 1.1em; */
}

#tablaListadoJuego a:hover, #creditosPersona a:hover, #creditosCompany a:hover
{
    text-decoration: underline dotted gray;    
}

.linkazul
{
    color: #297bd3 !important;
}

#tablaListadoJuego a
{
    color: #7bd !important;
}

#listado
{
    margin-left: -10px;
}

#mostrarHoraComentariosPerfil
{
    border: 1px solid black;
    background-color: gray;
    color: white;
    text-align: center;
}

#imgCover
{
    height: 300px;
    width: 200px;
}
.imgCoverMin
{
    max-height: 100px;
    max-width: 100px;
    min-height:60px;
    min-width:60px;
    
    display:block; 
    width:100%; 
    height:auto;
}


.screenshotJuego
{
    height: 150px;
    width: 150px;
    padding: 5px;
    border: solid 1px #EFEFEF;
}

.screenshotJuego:hover
{
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.autoAlturaTd
{
    height:60px;
    width:60px;
    display: block;
}

#creditosJuego ul
{
    list-style-type: none;
}


/*TEXTBOX*/
.panel-shadow {
    box-shadow: 1px 1px 5px 5px #888888;
}
.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
width: 60px;
height: 60px;
display: block;
margin-right: 15px;
}
.post .post-heading .meta .title {
margin-bottom: 0;
}
.post .post-heading .meta .title a {
color: black;
}
.post .post-heading .meta .title a:hover {
color: #aaaaaa;
}
.post .post-heading .meta .time {
margin-top: 8px;
color: #999;
}
.post .post-image .image {
width: 100%;
height: auto;
}
.post .post-description {
padding: 15px;
}
.post .post-description p {
font-size: 14px;
}
.post .post-description .stats {
margin-top: 20px;
}
.post .post-description .stats .stat-item {
display: inline-block;
margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
margin-right: 8px;
}
.post .post-footer {
border-top: 1px solid #ddd;
padding: 15px;
}
.post .post-footer .input-group-addon a {
color: #454545;
}
.post .post-footer .comments-list {
padding: 0;
margin-top: 20px;
list-style-type: none;
}
.post .post-footer .comments-list .comment {
display: block;
width: 100%;
margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
width: 35px;
height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
display: block;
width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
font-size: 14px;
font-weight: bold;
display: inline;
margin-top: 0;
margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
font-size: 12px;
color: #aaa;
margin-top: 0;
display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
margin-left: 50px;
}



.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea  {
   
    border: 1px solid;
    padding: 10px;
    box-shadow: 1px 1px 5px 5px #888888;
    
}

                

/*
#coverJuego
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
   
}
*/
/*
#informacionJuego, #coverJuego
{
    color:white;
    background-color: rgb(42, 42, 43);
    border: 0.15rem solid rgb(8, 24, 255);
}
*/




/*
.ui-tabs .ui-tabs-nav
{
    background-color: #dce2df;
}

.ui-tabs .ui-tabs-panel 
{
    background-color: #dce2df;
    border: 1px solid #dce2df;
}
*/


.custom-file-control.selected:lang(en)::after {
    content: "" !important;
  }

.custom-file-input ~ .custom-file-label::after {
    content: "Buscar";
}