body {
    background-color: #dce2df;
}

#registrado, #registroError, #registrarOtro
{
    display: none;
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.labelDoble
{
    top:-15px;
}

.dropdown-menu a:hover
{
    color: #fff;
    background-color: #007bff;  
    border-radius: .25rem;
}

#guidelines
{
    background-color: rgb(61, 254, 61);
    padding: 1rem;
    border: 1px solid green;
}

#datosPersona
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
    padding: 1rem;
}

#creditosPersona
{
    background-color: rgb(88, 185, 250);
    border: 1px solid rgb(0, 86, 118);
    padding: 1rem;
}
/*
.ui-tabs .ui-tabs-nav
{
    background-color: #dce2df;
}

.ui-tabs .ui-tabs-panel 
{
    background-color: #dce2df;
    border: 1px solid #dce2df;
}
*/
