#buscador, #revisiones, #comentarios, #juegos
{
    /* border: 1px solid black; */
    background-color: rgb(42, 46, 42);
    border-left: 2px solid rgb(49, 107, 255);
    border-right: 2px solid rgb(49, 107, 255);
    border-top: 4px solid rgb(49, 107, 255);
    border-bottom: 4px solid rgb(49, 107, 255); 
    padding: 1rem;
}

.container-fluid
{
    width: 90%;
}

a
{
    color: #7bd;
}
body
{
    color: rgb(97, 108, 119);
}

#intro
{
    color: black;
}